@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  min-height: 100vh;
}

.wallet-adapter-modal-wrapper {
  background-color: #1f2937 !important;
}

.wallet-adapter-button {
  background-color: #9333ea !important;
}

.wallet-adapter-button:hover {
  background-color: #7e22ce !important;
}